<h1 class="threedeefy"><%= @house.name %></h1>
<p>
  <%= link_to 'Back to Houses', houses_path, class: "outlined" %>
</p>

<% @house.students.each do |student| %>

<div class="student">
  <h2 class="outlined"><%= student.name %></h2>
  <%= image_tag student.img_url %>
</div>

<% end %>
<p>
  <%= link_to 'Back to Houses', houses_path, class: "outlined" %>
</p>
